@import '../variables.scss';

body {
  color: $font-color;
  font-family: $font-stack;
}

p {
  line-height: 150%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 150%;
  margin-bottom: 2rem;
}

h1 { font-size: 32px; }
h2 { font-size: 24px; }
h3 { font-size: 18px; }
h4 { font-size: 16px; }
